.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
}

.header-logo {
  height: 80px;
  object-fit: contain;
  margin-right: 20px;
  margin-left: 20px;
}

.header-search {
  display: flex;
  flex: 1;
}

.header-searchIcon {
  background-color: #cd9042;
  padding: 5px;
  height: 22px !important;
  width: 22px !important;
}

.header-searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-location {
  color: white;
  text-decoration: none;
  display: flex !important;
  flex-direction: row !important;
  margin-top: 7px;
}

.header-location > .MuiSvgIcon-root {
  margin-top: 8px;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header-option-line1 {
  font-size: 12px;
}

.header-option-line2 {
  font-size: 15px;
  font-weight: 800;
}

.header-opiton-cart {
  display: flex;
  align-items: center;
}

.header-option-cart > .MuiSvgIcon-root {
  font-size: 30px;
}

.header-cart-count {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}
