.home {
  max-width: 1500px;
  margin: 0 auto;
}

.alice-carousel {
  margin-bottom: -330px;
}
.home-image {
  width: 100%;
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
